<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd"
	   default-autowire="byType">

	<bean id="a" abstract="true" >
		<property name="name" value="guojunjie"></property>
	</bean>
	<bean id="b"  class="com.beandefinition.Chen" parent="a">

	</bean>


	<!--<bean id="ziluBeanFactoryPostprocessor"  class="com.annotation.ZiluBeanFactoryPostprocessor">-->
	<!--</bean>-->
</beans>